<h1>Hello, this is the profile of <%=fname%></h1>
<p>First name: <%=fname%>
<br>
Last name: <%=lname%>
<br>
Gender: <%=gender%>
<br>
Age: <%=age%>
</p>
<form action="/logout?_method=DELETE" method="POST"><button type="submit">Log out</button></form>
<a href="/matches">Find Matches</a>